.div1 {
  background-color: BlanchedAlmond;
  margin: 50px;
  padding: 30px;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
   border: 15px inset #E74C3C;
  width: 1600px;
  font-family: Papyrus, Fantasy;
font-size: 30px;

}

.div2 {
  background-color: BurlyWood;
  margin: 50px;
  padding: 30px;
   border: 15px inset #E74C3C;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 1600px;
  font-family: Papyrus, Fantasy;
font-size: 30px;

  }



.div3 {
  background-color: chocolate;
  margin: 50px;
  padding: 30px;
   border: 15px inset #E74C3C;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 1600px;
  font-family: Papyrus, Fantasy;
font-size: 30px;

    }


.div0 {
text-align: center;
  margin: 30px;
     border: 10px inset #E74C3C;
  border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: Papyrus, Fantasy;
font-size: 60px;
  background-color: #f7e7ce;


}



