.div1 {
  border: 10px;
  background-color: BlanchedAlmond;
  text-align: center;
  margin: 50px;

}

.div2 {
  border: 10px;
  background-color: BurlyWood;
  text-align: center;
  margin: 50px;

  }



.div3 {
  border: 10px;
  background-color: chocolate;
  text-align: center;
  margin: 50px;

    }
