body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.navbar {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
