.page3 {
    font-family: Arial, sans-serif;
    margin: 50px;
    width: 75%px;
    height: 75%px;
    text-align: center;
background-image: url("chaseatlantic2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;

}

.navbar {
    list-style-type: none;
    font-family: Impact, sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #E74C3C;
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar li {
    float: left;
    text-align: center;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

ul {
    text-align: 40px;
}

.page1 {
    width: 100%px;
    margin: 20px;
    padding: 325px;
    border: 6px solid #E74C3C;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
background-color: #000000;
opacity: 0.7;
}

.page2 {
    padding: 0;
    margin: 20px;
font-family: Impact, sans-serif;
font-size: 60px;
    font-weight: black;
 background-color: #E74C3C;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family: Impact, sans-serif;
    font-size: 50px;
background-image: url("phasesalbum.jpg");
    border: 6px solid #E74C3C;
color: #000000;

phasesalbum.jpg {
    opacity: 0.7;
}
